.student-profile .card {
    border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}

#print {
    background-color: white;
    border: none;
    border-radius: 5px;
    /* border-radius: 3px; */
    /* border-color: #6c757d; */
    /* border-width: 0.5px; */
    cursor: pointer;
   
}

#img {
    border-radius: 3px;
    height: 35px;
}
#Imprimer {
    padding: 24px 0;
}
.card-body{
    overflow-x: auto;
}
#content{
    padding: 0 6.7rem;
}
#studentsTable{
    padding: 5px; /* Adjust the padding as needed */
        margin: 0; 
        font-size:8px;
}
#retourn li{
    display: list-item;
    text-align: -webkit-match-parent;
}
.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: var(--bs-breadcrumb-divider-color);
    content: var(--bs-breadcrumb-divider, "/") /* rtl: var(--bs-breadcrumb-divider, "/") */;
}





@media screen and (max-width: 768px) {
    .card{
        width :90%!important ;
        font-size: 12px;
    }
    #content{
        padding: 1px 0;
    }
}

/* -------------------------------------------------------- */



